.nav{
  height: 10vh;
  background-color: rgba(0, 34, 255, 0.382);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.home{
  height: 80vh;
  background-color: rgba(0, 255, 34, 0.511);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.footer{
  height: 10vh;
  background-color: rgba(0, 34, 255, 0.422);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  
}